<div class="jumbotron">
  <h5>A simple blog web application created using MongoDb, NodeJS, ExpressJS and AngularJS</h5>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">MongoDb</h3>
      </div>
      <div class="panel-body">
        <p>
          MongoDB is an open-source document database and leading NoSQL database. MongoDB is written in C++. 
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">ExpressJS</h3>
      </div>
      <div class="panel-body">
        <p>
          Express.js: the fast, unopinionated, minimalist web framework for node. ... 
        </p>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">NodeJS</h3>
      </div>
      <div class="panel-body">
        <p>
          Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">AngularJS</h3>
      </div>
      <div class="panel-body">
        <p>
          ng new. The Angular CLI makes it easy to create an application that already works, right out of the box. It already follows our best practices!
        </p>
      </div>
    </div>

  </div>
</div>